/*  */

:root{
    --blog-left-width: 250px;
  }
  
  /*--------------------------------------------------------------
  # General
  --------------------------------------------------------------*/
  a {
    color: #00dfff ;
    text-decoration: none;
  }
  
  a:hover {
    color:#00dfff ;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }

  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    position: relative;
    display: flex;
    align-items: center;
    overflow-y: auto;
    background: #040404 url("../image/my/myDb.jpeg") top right no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 1;
    font-family: "Open Sans", sans-serif;
  }

/* .home-logo{
    display: flex;
    width: 80px;
    height: 80px;
    margin: 10px;
} */
#header .container {
  margin-left: 50px;
}
  
  #header * {
    transition: ease-in-out 0.3s;
  }
  
  #header h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
  }
  
  #header h1 a,
  #header h1 a:hover {
    color: #fff;
    line-height: 1;
    display: inline-block;
  }
  
  #header h2 {
    font-size: 24px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.8);
  }


  #header h2 span {
    color: #fff;
    border-bottom: 2px solid #00dfff ;
    padding-bottom: 6px;
  }
  
  #header img {
    padding: 0;
    margin: 0;
  }
  
  #header .social-links {
    margin-top: 20px;
    display: flex;
  }
  
  #header .social-links a {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  #header .social-links a:hover {
    background: #00dfff;
  }
  
  @media (max-width: 992px) {
    #header h1 {
      font-size: 36px;
    }
  
    #header h2 {
      font-size: 20px;
      line-height: 30px;
    }
  
    #header .social-links {
      margin-top: 15px;
    }
  
    #header .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  .navbar {
    padding: 0;
    margin-top: 40px;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 10px;
  }
  
  .navbar li {
    position: relative;
    margin-top:-30px;
  }
  
  .navbar li+li {
    margin-left: 20px;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #00dfff ;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 25px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }



  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    height: 60px;
    /* background-color: #00dfff; */
}

.nav-container {
    padding-top: 5px;
    position: relative;
    display: flex; 
    align-items: center
}

.nav-container .nav-name {
    position: relative;
    color: #D9D9D9;
    font-size: 35px;
    font-weight: bold;
    margin-left: 30px;
    line-height: 1px; 
}


/* nav bar responsive */

@media screen and (max-width: 1440px) {
   
  
}

@media screen and (max-width: 1024px) {
  
   .nav-container {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }
    .nav-container .nav-name {
        margin-left: 10px;
        margin-top: 10px;
        font-size: 30px;
    }
    .navbar a{
        font-size: 12px;
        
    }
    

}

@media screen and (max-width: 768px) {

  .nav-container .nav-name {
    font-size: 20px;
    color: #009fcc;
  }
  
}




  section {
    left: 0;
    top: 0;
    display: flex;
    width: 100%;
    opacity: 1;
    transition: ease-in-out 0.4s;
    z-index: 999;
    background: rgb(0, 0, 0);
    place-items:center;
  display: flex;
  }
  
  section .container {
    margin-top: 50px;
    left: 0;
    top: 0;
    align-items: center;

  }
  /* .content-leftToRight{
    background-color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); 
    padding: 20px;
    padding-bottom: 60px !important;

  } */

  .content-rightToLeft {
    display: block;
    background-color: #ffffff;
    clip-path: polygon(0% 15%, 100% 0%, 100% 85%, 0% 100%);
    position: relative; /* Change to absolute if needed */
    width: 100%; /* Ensure full width */
    padding-bottom: 100px !important;
    color: black;
    left: 0 ; /* Remove !important if not necessary */
    right: 0; /* Remove !important if not necessary */
    margin: 0; /* Ensure no margins */
}

  
.section-title h3 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 20px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
  }
  
  .section-title h3::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #00dfff;
    margin: 4px 10px;
  }
  
  .section-title h2 {
    margin: 0;
    margin: -15px 0 15px 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #fff;
  
  }

  .content-rightToLeft .side-section-name{
    color: black;
  }
  .side-section-name {
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 10px;
    font-weight: 600;
    opacity: 0.5;
  }
  
  .side-section-name span {
    display: block;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    transform: translateY(20px); /* Initial animation position */
  }
  
  /* Apply a delay for each span based on its position */
  .side-section-name span:nth-child(1) {
    animation-delay: 0.1s;
  }
  .side-section-name span:nth-child(2) {
    animation-delay: 0.2s;
  }
  .side-section-name span:nth-child(3) {
    animation-delay: 0.3s;
  }
  .side-section-name span:nth-child(4) {
    animation-delay: 0.4s;
  }
  .side-section-name span:nth-child(5) {
    animation-delay: 0.5s;
  }
  .side-section-name span:nth-child(6) {
    animation-delay: 0.6s;
  }
  .side-section-name span:nth-child(7) {
    animation-delay: 0.7s;
  }
  .side-section-name span:nth-child(8) {
    animation-delay: 0.8s;
  }
  .side-section-name span:nth-child(9) {
    animation-delay: 0.9s;
  }
  .side-section-name span:nth-child(10) {
    animation-delay: 1s;
  }
  .side-section-name span:nth-child(11) {
    animation-delay: 1.1s;
  }
  .side-section-name span:nth-child(12) {
    animation-delay: 1.2s;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0); /* Final position */
    }
  }
  

  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
 #about .my-about{
  padding-left: 30px;
  padding-right: 30px;
  color: white;
}

 #about .about-img img{
  width: 350px;
  margin-top: -2px;
 }
 #about .about-content{
  display: flex;
 }
 #about .about-ditails{
  display: inline-block;
  position: relative;
  margin-left: 55px;
  margin-top: -18px;
}
#about .about-ditails h3{
  font-size: 24px;
  font-weight: bold;
  margin-top: 11px;
}
#about .about-ditails p{
  margin-top: -2px;
}

#about .about-ditails .hide-text{
  display: none;
}

#about .about-ditails .full-ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#about .about-ditails .full-ul ul{
  overflow: hidden;
  list-style: none;
}
#about .about-ditails .full-ul ul li p span:nth-child(1){
  font-weight: 700;
}
#about .about-ditails .full-ul ul li p span:nth-child(2){
  font-weight: 400;
  margin-left: 3px;
}
#about .about-ditails .full-ul ul li p span{
  display: inline-block;
  
}

#about .adout-button {
  display: flex;
  justify-content: center; /* Center the buttons */
  gap: 150px; /* Space between buttons */
  margin-top: 45px;
}

#about .adout-button button {
  padding: 5px 10px;
  border-radius: 5px; /* Rounded corners */
  border: none;
  font-size: 12px;
  cursor: pointer;
}
#about .adout-button button:nth-child(1) {
  background-color: #00dfff; /* Apply your desired color to the second button */
}

#about .adout-button button:nth-child(2) {
  background-color: transparent;
  border: #00dfff solid 2px;
  color: white;
}

.adout-button button:hover {
  background-color: #2d3f53; /* Darker shade on hover */
}

.adout-button a {
  text-decoration: none;
  color: inherit; /* Inherit the button text color */
  font-family: 'Poppins', sans-serif;
}
/* end my-about */

/* start skills */

#about .skills{
  padding-top: 100px;
}
#about .skills .devSkill{
  align-items: center;
  padding: 20px;
}
.devSkill ul {
  display: flex;
  flex-direction: row; /* Stack the li items vertically */
  justify-content: space-between; /* Center the li items vertically */
  list-style: none;
  margin: 0; /* Removes default list margins */
}

.devSkill li {
  margin: 10px 0; /* Adds some spacing between each list item */
  padding: 5px;
  font-size: 18px; /* Optional: Adjust font size */
}

.skills-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.skill {
  text-align: center;
}

.circle {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: conic-gradient(#2ecde6 0deg, #a14444 0deg); /* Dynamic Progress */
}

.progress {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  clip-path: circle(50% at 50% 50%);
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
}

.skill p {
  margin-top: 15px;
  font-size: 16px;
}

#about .skills .codeSkill ul{
  display: flex;
  flex-direction: row; /* Stack the li items vertically */
  justify-content: space-around; /* Center the li items vertically */
  list-style: none;
  margin: 0; /* Removes default list margins */
}

.codeSkill ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.left-skill-set, .right-skill-set {
  width: 45%;
}

li {
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: #eee;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-top: 5px;
}

.progress {
  height: 100%;
  background-color: #00dfff;
  width: 0; /* Default width before animation */
  border-radius: 5px;
}

li span {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* skill-icons */




/* interests */

#about .interests {
  padding-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

#about .interests .content {
  display: flex;
  justify-content: space-between; /* You can change this to 'center' if you want to center the entire content */
  align-items: center;
  padding-right: 50px;
}

#about .interests .content div {
  display: flex; /* Ensure the div is a flex container */
  flex-direction: column; /* Stack the items vertically */
  align-items: center; /* Center align items horizontally */
}

#about .interests .content div li {
  background-color: #ffffff2a;
  width: 350px;
  height: 70px;
  display: flex;
  align-items: center; /* Vertically center the contents of the li */
  justify-content: center; /* Horizontally center the contents of the li */
}

#about .interests .content div li i {
  font-size: 34px;
  padding-left: 20px;
}
#about .interests .content div li p {
  font-size: 20px;
  font-weight: 600;
  display: flex; /* Keep it as flex to maintain centering */
  justify-content: center; /* Center horizontally within the flex container */
  align-items: center; /* Center vertically within the flex container */
  text-align: center; /* Center text alignment */
  flex: 1; /* Allow it to grow and fill the space */
}


@media screen and (max-width: 1440px) {
  
}
@media screen and (max-width: 1200px) {
  
  #about .interests .content div li {
    width: 250px;
    height: 60px;
  }
  #about .interests .content div li i {
    font-size: 28px;
    padding-left: 10px;
  }
  #about .interests .content div li p {
    font-size: 18px;
  }
  /* end interests */

  /* start skills */
  .circle {
    width: 110px;
    height: 110px;
  }
  .circle-text {
    font-size: 18px;
  }

  .skill p {
    font-size: 14px;
  }
  .left-skill-set, .right-skill-set {
    width: 35%;
  }

  li span {
    font-size: 14px;
  }
  /* end skills */

  /* start about */
  #about .about-img img{
    width: 300px;
   }
}

@media screen and (max-width: 1024px) {
  
  #about .interests .content div li {
    width: 200px;
    height: 45px;
  }
  #about .interests .content div li i {
    font-size: 22px;
    padding-left: 10px;
  }
  #about .interests .content div li p {
    font-size: 16px;
  }
  /* end interests */

  /* start skills */
  .circle {
    width: 90px;
    height: 90px;
  }
  .circle-text {
    font-size: 14px;
  }

  .skill p {
    font-size: 12px;
  }
  .left-skill-set, .right-skill-set {
    width: 30%;
  }

  li span {
    font-size: 12px;
  }
  /* end skills */

  /* start about */
  #about .about-img img{
    width: 250px;
   }

   #about .about-ditails > p:nth-child(3){
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  #about .interests .content div li {
    width: 150px;
    height: 40px;
  }
  #about .interests .content div li i {
    font-size: 20px;
    padding-left: 10px;
  }
  #about .interests .content div li p {
    font-size: 16px;
  }
  /* end interests */

  /* start skills */
  .circle {
    width: 80px;
    height: 80px;
  }
  .circle-text {
    font-size: 14px;
  }

  .skill p {
    font-size: 12px;
  }
  .left-skill-set, .right-skill-set {
    width: 27%;
  }

  li span {
    font-size: 11px;
  }
  /* end skills */

  /* start about */
  #about .about-img img{
    width: 250px;
   }

   #about .about-ditails .full-ul ul{
    margin-left: -20px;
  }

  #about .about-ditails .tol-text{
    display: none;
  }
   #about .about-ditails .hide-text{
    display: block;
    font-size: 14px;
    margin-top: -30px !important;
  }
  #about .about-ditails .full-ul ul li p{
    line-height: 0;
  }
  #about .about-ditails .full-ul ul{
    padding-top: 5px;
  }
  #about .about-ditails button{
    margin-top: -20px;
  }



}
  


  /*--------------------------------------------------------------
  # Resume
  --------------------------------------------------------------*/
  .resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
  }
  
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #00dfff;
    margin-bottom: 10px;
  }
  
  .resume .resume-item h5 {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .resume .resume-item ul {
    padding-left: 20px;
  }
  
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -12px;
    top: 0;
    background: #00dfff;
    border: 2px solid #00dfff;
  }

  .resume .resume-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px;
  }

  .resume .container {
    
    margin: 40px 0 0px 32px;
    padding: 0px 20px 0px 0px;
    color: white;
  }

  .resume .assignment {
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    height: 350px;
    padding-top: 120px;
    left: 0;
    right: 0;
    margin-bottom: 50px;
}

.resume .assignment .cong {
position: absolute;
margin-top: 80px;
height: 300px;
width: 100%;
top: 60px;
display: flex;
justify-content: center;
}

.resume .assignment .card {
display: flex;
height: 280px;
width: 200px;
background-color: #17141d;
border-radius: 10px;
box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
transition: 0.4s ease-out;
position: relative;
left: 0px;
justify-content: center;
}

.resume .assignment .card:not(:first-child) {
margin-left: -50px;
}

.resume .assignment .card:hover {
transform: translateY(-20px);
transition: 0.4s ease-out;
}

.resume .assignment .card:hover ~ .assignment .card {
position: relative;
left: 50px;
transition: 0.4s ease-out;
}

.resume .assignment .title {
color: white;
font-weight: 300;
position: absolute;
left: 20px;
top: 15px;
}

.resume .assignment .bar {
position: absolute;
top: 100px;
left: 20px;
height: 5px;
width: 150px;
}

.resume .assignment .emptybar {
background-color: #2e3033;
width: 100%;
height: 100%;
}

.resume .assignment .filledbar {
position: absolute;
top: 0px;
z-index: 3;
width: 0px;
height: 100%;
background: rgb(0,154,217);
background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
transition: 0.6s ease-out;
}

.resume .assignment .card:hover .filledbar {
width: 120px;
transition: 0.4s ease-out;
}

.resume .assignment button {
  width: 100px;
  height: 40px;
  background-color: #00dfff;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  position: absolute;
  bottom: 20px;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.resume .stroke {
stroke: white;
stroke-dasharray: 360;
stroke-dashoffset: 360;
transition: 0.6s ease-out;
}



.resume .assignment .card:hover .stroke {
stroke-dashoffset: 100;
transition: 0.6s ease-out;
}

/* responsive */

@media screen and (max-width: 1440px) {
  
}

@media screen and (max-width: 1200px) {
  /*  */
}

@media screen and (max-width: 1024px) {
  .resume .resume-item h4 {
    line-height: 16px;
    font-size: 14px;
  }
  .resume .resume-title{
    font-size: 20px;
  }
  .resume .resume-item ul {
    padding-left: 15px;
  }
  .resume .resume-item ul li {
    padding-bottom: 0px;
  }
  /* end resume */

  /* start assigmrnt */
  .resume .assignment .card {
    height: 250px;
    width: 150px;
  }
  .resume .assignment .title {
    font-size: 14px;
  }
  .resume .assignment .bar {
    top: 80px;
    left: 10px;
  }
  .resume .assignment .bar {
    top: 80px;
    left: 10px;
  }
  .resume .assignment .emptybar {
    height: 100%;
    width: 80%;
  }
  
  .resume .assignment button {
    width: 80px;
    height: 30px;
  }
  /* end assignment */
}

@media screen and (max-width: 768px) {
  
  .resume .resume-item h4 {
    line-height: 12px;
    font-size: 12px;
  }
  .resume .resume-title{
    font-size: 16px;
  }
  .resume .resume-item ul {
    padding-left: 10px;
  }
  .resume .resume-item ul li {
    padding-bottom: 0px;
  }



  /* end resume */

  /* start assigmrnt */
  .resume .assignment .card {
    height: 250px;
    width: 150px;
  }
  .resume .assignment .title {
    font-size: 14px;
  }
  .resume .assignment .bar {
    top: 80px;
    left: 10px;
  }
  .resume .assignment .bar {
    top: 80px;
    left: 10px;
  }
  .resume .assignment .emptybar {
    height: 100%;
    width: 80%;
  }
  
  .resume .assignment button {
    width: 80px;
    height: 30px;
  }
  /* end assignment */
}
  
  
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  
  .services .icon-box {
    text-align: center;
    background: rgba(204, 204, 204, 0.1);
    padding: 50px 50px;
    transition: all ease-in-out 0.3s;
  }
  
  .services .icon-box .icon {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: #00dfff;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transform-style: preserve-3d;
  }
  
  .services .icon-box .icon i {
    color: #fff;
    font-size: 28px;
  }
  
  .services .icon-box .icon::before {
    position: absolute;
    content: "";
    left: -8px;
    top: -8px;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
    transform: translateZ(-1px);
  }
  
  .services .icon-box h4 {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
  }
  
  .services .icon-box h4 a {
    color: #fff;
  }
  
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }
  
  .services .icon-box:hover {
    background: #00dfff;
    border-color: #00dfff;
  }
  
  .services .icon-box:hover .icon {
    background: #fff;
  }
  
  .services .icon-box:hover .icon i {
    color: #00dfff;
  }
  
  .services .icon-box:hover .icon::before {
    background: #00dfff;
  }
  
  .services .icon-box:hover h4 a,
  .services .icon-box:hover p {
    color: #fff;
  }


  .service-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 0 -12px -12px;
  }

  .services .container {
    margin: 40px 0 32px 32px;
    padding: 0px 40px 10px 0px;
  }

  #icon1, #icon2, #icon3, #icon4, #icon5, #icon6 {
    margin: 0 0 12px 12px;
  }

  #icon4, #icon5, #icon6 {
    padding-top: 24px;
  }

  /* responsive */

  @media screen and (max-width: 1440px) {
    
  }

  @media screen and (max-width: 1200px) {

    
  }
  @media screen and (max-width: 1024px) {
    .service-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }
    

  }
  @media screen and (max-width: 768px) {
    .service-content {
      grid-template-columns: 1fr 1fr;
    }
    .services .icon-box p {
      line-height: 20px;
      font-size: 12px;
      margin-bottom: 0;
      color: white;
    }
    .services .icon-box h4 {
      margin-bottom: 10px;
      font-size: 20px;
    }

  }




  
  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/

  #contact{
    color: #fff;
  }
  #contact .container{
    margin: 40px 0 0px 32px;
    padding: 0px 20px 0px 0px;
  }
  #contact .contact-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    margin-left: 100px;
  }
  #contact .contact-info .address,
  #contact .contact-info .socialLinks, 
  #contact .contact-info .email, 
  #contact .contact-info .phone{
    background-color: rgba(255, 255, 255, 0.219);
    display: grid;
    grid-template-columns: 70px 470px;
    width: 500px;
    height: 60px;
    margin-bottom: 15px;
    align-items: center;
    justify-self: center;
  }

  #contact .contact-info .icon {
    /* background-color: #00dfff ; */
    margin-top: -10px;
    padding: 10px;
  }
  #contact .contact-info .icon a i{
    /* background-color: #00dfff ; */
    font-size: 26px;
    background-color: rgba(255, 255, 255, 0.178);
    padding: 10px;
    width: 70;
    height: 70;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  #contact .contact-info .cont {
    /* margin-top: -10px; */
    margin-top: 5px;
    /* padding-left: 100px; */
  }

  #contact .contact-info .social-links a i{
    padding-left: 10px;
    font-size: 23px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  #contact form {
    background-color: rgba(255, 255, 255, 0.185);
    width: 1000px;
    margin-left: 100px;
    display: grid;
    grid-template-rows: auto auto auto; 
    gap: 20px;
    padding-top: 10px;
  }
  
  #contact form .row1 input[type="text"],
  #contact form .row1 input[type="email"] {
    color: white;
    width: 44.4%; /* Adjusted to ensure they align well within the form */
    padding: 18px;
    border: none;
    background-color: rgba(255, 255, 255, 0.185);
    margin-left: 10px;
  }
    #contact form .row2 input[type="text"] {
      color: white;
      width: 94%;
      padding: 18px;
      border: none;
      background-color: rgba(255, 255, 255, 0.185);
      margin-left: 10px;
    }
    
    #contact form .row3 textarea {
      width: 94%;
      padding: 20px;
      border: none;
      background-color: rgba(255, 255, 255, 0.185);
      margin-left: 10px;
      margin-bottom: 10px;
      margin-top: 0px; /* Removed negative margin */
      resize: horizontal;
    }

    #contact form button {
      background-color: #00dfff;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      padding: 14px 20px;
      border: none;
      cursor: pointer;
      width: 200px;
      display: block;   /* Ensures the button behaves like a block element */
      margin: 0px auto; /* Auto-margins will center the button horizontally */
    }
  /* Styling placeholder text */
#contact form input::placeholder,
#contact form textarea::placeholder {
  color: rgba(255, 255, 255, 0.7); /* Change the color */
  font-style: italic;              /* Make it italic */
  font-size: 14px;                 /* Adjust font size */
  opacity: 1;                      /* Ensure full opacity */
}

  

  
  
  
  /*--------------------------------------------------------------
  # Credits
  --------------------------------------------------------------*/
  .credits {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: right;
    font-size: 13px;
    color: #fff;
    z-index: 999999;
  }
  
  @media (max-width: 992px) {
    .credits {
      text-align: center;
      padding: 10px;
      background: rgba(0, 0, 0, 0.8);
    }
  }
  
  .credits a {
    color: #00dfff;
    transition: 0.3s;
  }
  
  .credits a:hover {
    color: #fff;
  }


  footer{
    background-color: #DDDDDD;
    color: #000;
  }
  footer .footer-container{
    padding: 20px 50px 10px 50px;
  }

  footer .footer-container .fo-main-name strong{
    font-size: 45px;
    margin-top: 15px;
  }

  footer .footer-container .cons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
  }

  footer .footer-container .cons strong{
    font-weight: bold;
    font-size: 20px;
    border-bottom:#00dfff solid 2px;
    border-width: 2px;
  } 

  footer .footer-container .cons .col1 span{
    font-weight: bold;
  } 
  
  footer .footer-container .cons .col3 img{
    width: 150px;
  }

  footer .footer-container .cons .col2 ul li a, footer .footer-container .cons .col4 ul li a{
    color: rgba(0, 0, 0, 0.603) !important;
    transition: 0.3s;
    text-decoration: none;
  }

  footer .footer-container .cons .col2 ul, footer .footer-container .cons .col4 ul{
    list-style-type: square;
  }

  footer .footer-container .cons .col2 ul li a:hover, footer .footer-container .cons .col4 ul li a:hover{
    color: #00dfff !important;
  }

  footer .footer-container .cons .col5 .newsletter{
    
  }



  footer .footer-container .cons .col5 .newsletter form{
    display: grid;
    grid-template-columns: 80px 150px;
    margin-top: 10px;
  }
  footer .footer-container .cons .col5 .newsletter input[type="email"]{
    width: 100%;
    border: #00dfff solid 1px;
    padding: 10px;
    border-radius: 5px;
    margin-left: -6px;

  }
  footer .footer-container .cons .col5 .newsletter input[type="submit"]{
    width: 80px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00dfff;
    color: white;
    cursor: pointer;
    z-index: 999;
  }
  footer .footer-container .cons .col5 .newsletter p{
    
    font-style: italic;
    opacity: 0.7;
    font-size: 14px;
  }
  footer .down-fo {
    background-color: #ffffff;
    padding: 0px 50px 0px 50px;
    color: white;
  }
  footer .down-fo .down-fo-cons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer .down-fo .down-fo-cons .left{
    justify-self: start;
  }
  footer .down-fo .down-fo-cons .left p{
    color: black !important;
    line-height: 0.5;
    font-size: 14px;
  }

  footer .down-fo .down-fo-cons .right .social-links{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
  }

  footer .down-fo .down-fo-cons .right .social-links a{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.199);
    color: black;
    line-height: 1;
    margin-right: 8px;
    border-radius: 10%;
    width: 30px;
    height: 30px;
  }

  footer .down-fo .down-fo-cons .right{
    justify-self: right;
  }

  footer .down-fo .down-fo-cons .right {
    position: relative; /* Make the parent container relative */
    height: 50px;
    padding-bottom: 5px;
  }
  
  footer .down-fo .down-fo-cons .right ul  .scroll-top {
    background-color: #000000;
    color: white;
    padding: 2px 6px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
  }
  
  footer .down-fo .down-fo-cons .right .scroll-top:hover {
    background-color: #009fcc;
  }

  /* footer-responsive */

  @media screen and (max-width: 1440px) {
    
    footer .footer-container .cons .col1 strong{
      font-size: 18px;
    }
    footer .footer-container .cons .col2 ul li a, footer .footer-container .cons .col4 ul li a{
      font-size: 14px;
    }
    footer .footer-container .cons .col3 img{
      width: 120px;
    }
    footer .footer-container .cons .col5 .newsletter form{
      grid-template-columns: 80px 120px;
    }
    footer .footer-container .cons .col5 .newsletter input[type="email"]{
      padding: 8px;
    }
    footer .footer-container .cons .col5 .newsletter input[type="submit"]{
      padding: 8px;
      width: 70px;
    }
  }
  @media screen and (max-width:1024px) {
    
    footer .footer-container .cons{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    footer .footer-container .cons .col1 strong{
      font-size: 14px;
    }
    footer .footer-container .cons .col2 ul li a, footer .footer-container .cons .col4 ul li a{
      font-size: 12px;
    }
    footer .footer-container .cons .col3 img{
      width: 100px;
    }
    footer .footer-container .cons .col5 .newsletter form{
      grid-template-columns: 80px 100px;
    }
    footer .footer-container .cons .col5 .newsletter input[type="email"]{
      padding: 6px;
    }
    footer .footer-container .cons .col5 .newsletter input[type="submit"]{
      padding: 6px;
      width: 60px;
    }
  }
  @media screen and (max-width:768px) {
    
    footer .footer-container .cons{
      display: grid;
      grid-template-columns: 50px 100px 300px;

    }

    .footer-container .cons .col1 .address strong{
      font-size: 10px;
    }
    .footer-container .cons .col1 div p{
      font-size: 10px;
    }

    .footer-container .cons .col1 {
        background-color: #00dfff;
        width: 150px;
    }
    .footer-container .cons .col2 {
      background-color: #00dfff;
      width: 150px;
  }

  .footer-container .cons .col3 {
    position: absolute;
    background-color: #00dfff;
    width: 150px;
}

    footer .footer-container .cons strong{
      font-size: 12px;
    }
    footer .footer-container .cons .col2 ul li a, footer .footer-container .cons .col4 ul li a{
      font-size: 10px;
    }
    footer .footer-container .cons .col3 img{
      display: none;
    }
    footer .footer-container .cons .col5 .newsletter form{
      grid-template-columns: 80px 80px;
    }
    footer .footer-container .cons .col5 .newsletter input[type="email"]{
      padding: 4px;
    }
    footer .footer-container .cons .col5 .newsletter input[type="submit"]{
      padding: 4px;
      width: 50px;
    }
  }

  @media screen and (max-width:425px) {
      
      footer .footer-container .cons{
        grid-template-columns: 1fr;
      }
      footer .footer-container .cons .col1 strong{
        font-size: 10px;
      }
      footer .footer-container .cons .col2 ul li a, footer .footer-container .cons .col4 ul li a{
        font-size: 8px;
      }
      footer .footer-container .cons .col3 img{
        display: none;
      }
      footer .footer-container .cons .col5 .newsletter form{
        grid-template-columns: 80px 60px;
      }
      footer .footer-container .cons .col5 .newsletter input[type="email"]{
        padding: 2px;
      }
      footer .footer-container .cons .col5 .newsletter input[type="submit"]{
        padding: 2px;
        width: 40px;
      } 
  }

  @media screen and (max-width:375px) {
      
      footer .footer-container .cons .col1 strong{
        font-size: 10px;
      }
      footer .footer-container .cons .col2 ul li a, footer .footer-container .cons .col4 ul li a{
        font-size: 6px;
      }
      footer .footer-container .cons .col3 img{
        display: none;
      }
      footer .footer-container .cons .col5 .newsletter form{
        grid-template-columns: 80px 50px;
      }
      footer .footer-container .cons .col5 .newsletter input[type="email"]{
        padding: 2px;
      }
      footer .footer-container .cons .col5 .newsletter input[type="submit"]{
        padding: 2px;
        width: 30px;
      } 
  }

  @media screen and (max-width:320px) {
        
        footer .footer-container .cons .col1 strong{
          font-size: 8px;
        }
        footer .footer-container .cons .col2 ul li a, footer .footer-container .cons .col4 ul li a{
          font-size: 4px;
        }
        footer .footer-container .cons .col3 img{
          display: none;
        }
        footer .footer-container .cons .col5 .newsletter form{
          grid-template-columns: 80px 40px;
        }
        footer .footer-container .cons .col5 .newsletter input[type="email"]{
          padding: 2px;
        }
        footer .footer-container .cons .col5 .newsletter input[type="submit"]{
          padding: 2px;
          width: 30px;
        }
  }








  /* black footer */



  footer .footer-container-black{
    position: relative;
    margin-top: -100px;
    padding: 20px 50px 10px 50px;
    background-color: #1B1B1B;
    color: white !important;
    z-index: 1100;
  }

  footer .footer-container-black .fo-main-name strong{
    font-size: 45px;
    margin-top: 15px;
  }

  footer .footer-container-black .cons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
  }

  footer .footer-container-black .cons strong{
    font-weight: bold;
    font-size: 20px;
    border-bottom:#00dfff solid 2px;
    border-width: 2px;
  } 

  footer .footer-container-black .cons .col1 span{
    font-weight: bold;
  } 
  
  footer .footer-container-black .cons .col3 img{
    width: 150px;
  }

  footer .footer-container-black .cons .col2 ul li a, footer .footer-container-black .cons .col4 ul li a{
    color: rgba(255, 255, 255, 0.603) !important;
    transition: 0.3s;
    text-decoration: none;
  }

  footer .footer-container-black .cons .col2 ul, footer .footer-container-black .cons .col4 ul{
    list-style-type: square;
  }

  footer .footer-container-black .cons .col2 ul li a:hover, footer .footer-container-black .cons .col4 ul li a:hover{
    color: #00dfff !important;
  }

  footer .footer-container-black .cons .col5 .newsletter{
    
  }



  footer .footer-container-black .cons .col5 .newsletter form{
    display: grid;
    grid-template-columns: 80px 150px;
    margin-top: 10px;
  }
  footer .footer-container-black .cons .col5 .newsletter input[type="email"]{
    width: 100%;
    border: #00dfff solid 1px;
    padding: 10px;
    border-radius: 5px;
    margin-left: -6px;
    background-color: #1B1B1B;

  }
  footer .footer-container-black .cons .col5 .newsletter input[type="submit"]{
    width: 80px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00dfff;
    color: white;
    cursor: pointer;
    z-index: 999;
  }
  footer .footer-container-black .cons .col5 .newsletter p{
    
    font-style: italic;
    opacity: 0.7;
    font-size: 14px;
  }
  footer .down-fo-black {
    background-color: black;
    padding: 0px 50px 0px 50px;
    color: white !important;
  }
  footer .down-fo-black .down-fo-cons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  footer .down-fo-black .down-fo-cons .left{
    justify-self: start;
  }
  footer .down-fo-black .down-fo-cons .left p{
    color: white !important;
    line-height: 0.5;
    font-size: 14px;
  }

  footer .down-fo-black .down-fo-cons .right .social-links{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
  }

  footer .down-fo-black .down-fo-cons .right .social-links a{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.199);
    color: white;
    line-height: 1;
    margin-right: 8px;
    border-radius: 10%;
    width: 30px;
    height: 30px;
  }

  footer .down-fo-black .down-fo-cons .right{
    justify-self: right;
  }

  footer .down-fo-black .down-fo-cons .right {
    position: relative; /* Make the parent container-black relative */
    height: 50px;
    padding-bottom: 5px;
  }
  
  footer .down-fo-black .down-fo-cons .right ul  .scroll-top {
    background-color: white;
    color: black;
    padding: 2px 6px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
  }
  
  footer .down-fo-black .down-fo-cons .right .scroll-top:hover {
    background-color: #009fcc;
  }
  

  @media screen and (max-width: 1440px) {
    
    footer .footer-container-black .cons .col1 strong{
      font-size: 18px;
    }
    footer .footer-container-black .cons .col2 ul li a, footer .footer-container-black .cons .col4 ul li a{
      font-size: 14px;
    }
    footer .footer-container-black .cons .col3 img{
      width: 120px;
    }
    footer .footer-container-black .cons .col5 .newsletter form{
      grid-template-columns: 80px 120px;
    }
    footer .footer-container-black .cons .col5 .newsletter input[type="email"]{
      padding: 8px;
    }
    footer .footer-container-black .cons .col5 .newsletter input[type="submit"]{
      padding: 8px;
      width: 70px;
    }
  }
  @media screen and (max-width:1024px) {
    
    footer .footer-container-black .cons{
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    footer .footer-container-black .cons .col1 strong{
      font-size: 14px;
    }
    footer .footer-container-black .cons .col2 ul li a, footer .footer-container-black .cons .col4 ul li a{
      font-size: 12px;
    }
    footer .footer-container-black .cons .col3 img{
      width: 100px;
    }
    footer .footer-container-black .cons .col5 .newsletter form{
      grid-template-columns: 80px 100px;
    }
    footer .footer-container-black .cons .col5 .newsletter input[type="email"]{
      padding: 6px;
    }
    footer .footer-container-black .cons .col5 .newsletter input[type="submit"]{
      padding: 6px;
      width: 60px;
    }
  }
  @media screen and (max-width:768px) {
    
    footer .footer-container-black .cons{
      grid-template-columns: 1fr 1fr;
    }
    footer .footer-container-black .cons .col1 strong{
      font-size: 14px;
    }
    footer .footer-container-black .cons .col2 ul li a, footer .footer-container-black .cons .col4 ul li a{
      font-size: 10px;
    }
    footer .footer-container-black .cons .col3 img{
      display: none;
    }
    footer .footer-container-black .cons .col5 .newsletter form{
      grid-template-columns: 80px 80px;
    }
    footer .footer-container-black .cons .col5 .newsletter input[type="email"]{
      padding: 4px;
    }
    footer .footer-container-black .cons .col5 .newsletter input[type="submit"]{
      padding: 4px;
      width: 50px;
    }
  }

  @media screen and (max-width:425px) {
      
      footer .footer-container-black .cons{
        grid-template-columns: 1fr;
      }
      footer .footer-container-black .cons .col1 strong{
        font-size: 10px;
      }
      footer .footer-container-black .cons .col2 ul li a, footer .footer-container-black .cons .col4 ul li a{
        font-size: 8px;
      }
      footer .footer-container-black .cons .col3 img{
        display: none;
      }
      footer .footer-container-black .cons .col5 .newsletter form{
        grid-template-columns: 80px 60px;
      }
      footer .footer-container-black .cons .col5 .newsletter input[type="email"]{
        padding: 2px;
      }
      footer .footer-container-black .cons .col5 .newsletter input[type="submit"]{
        padding: 2px;
        width: 40px;
      } 
  }

  @media screen and (max-width:375px) {
      
      footer .footer-container-black .cons .col1 strong{
        font-size: 10px;
      }
      footer .footer-container-black .cons .col2 ul li a, footer .footer-container-black .cons .col4 ul li a{
        font-size: 6px;
      }
      footer .footer-container-black .cons .col3 img{
        display: none;
      }
      footer .footer-container-black .cons .col5 .newsletter form{
        grid-template-columns: 80px 50px;
      }
      footer .footer-container-black .cons .col5 .newsletter input[type="email"]{
        padding: 2px;
      }
      footer .footer-container-black .cons .col5 .newsletter input[type="submit"]{
        padding: 2px;
        width: 30px;
      } 
  }

  @media screen and (max-width:320px) {
        
        footer .footer-container-black .cons .col1 strong{
          font-size: 8px;
        }
        footer .footer-container-black .cons .col2 ul li a, footer .footer-container-black .cons .col4 ul li a{
          font-size: 4px;
        }
        footer .footer-container-black .cons .col3 img{
          display: none;
        }
        footer .footer-container-black .cons .col5 .newsletter form{
          grid-template-columns: 80px 40px;
        }
        footer .footer-container-black .cons .col5 .newsletter input[type="email"]{
          padding: 2px;
        }
        footer .footer-container-black .cons .col5 .newsletter input[type="submit"]{
          padding: 2px;
          width: 30px;
        }
  }

